:root{
    --primary-color : #8a817c;
    --secondary-color: #f7f7ff;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 90%;
    max-width: 73.75rem;
    margin: 0 auto;
}

.header-section h1{
    padding-left: 0.938rem;
}

.simple{
    list-style: none;
    padding: 0;
    background-color: var(--secondary-color);
    display: flex;
    text-align: center;
}

ul>li{
    display: inline-block;
    flex-grow: 1;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

ul li a:link,
ul li a:visited{
    text-decoration: none;
    display: inline-block;
    padding: 0.625rem;
    width: 100%; 
    color: var(--primary-color);
    text-transform: capitalize;
    transition: all .3s ease-in-out;
}

ul li a:hover,
ul li a:focus,
ul li a:active{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.box i{
    display : none;
}




@media all and (max-width: 600px){
    .simple{
        flex-wrap: wrap;
        transform: translateY(0);
        transition: all .3s ease-in-out;
    }
    .nav-list{
        overflow: hidden;
    }
    .simple.active{
        transform: translateY(-135%);
    }
    .simple li{
        flex-basis: 100%;
    }
    .box i{
        border: 2px solid;
        padding: 10px 15px 10px;
        border-radius: 5px;
        cursor: pointer;
        display : block;
    }
    .box{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}